﻿@model BiblioHarryv1.Models.Note

@{
    ViewBag.Title = "Bibliotheca Notepad System";    
    var sPalin = "";
    var sRawPalin = (string)ViewBag.RawPalin;
    sPalin = (string)@ViewBag.Palintext == null ? "" : (string)@ViewBag.Palintext;
    var origKeyword = "";
    origKeyword = (string)@ViewBag.OrigKeyword == null ? "" : (string)@ViewBag.OrigKeyword;
}

<h2>Enter Keywords</h2>


@using (@Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
      
        <div class="form-group">
            @Html.LabelFor(model => model.NoteList, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NoteList)
                @Html.ValidationMessageFor(model => model.NoteList)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            <div class="col-md-offset-2 col-md-10">
                @if (origKeyword != "")
                { 
                      @Html.ActionLink("Display Duplicates", "ShowDuplicates", "Notes", new { origkey = origKeyword }, null)
               }
            </div>
        </div>
    </div>
    
    <table class="table">
    <tr>
        <th>
            <label id="palinlist">Palindromes List</label>
        </th>
        </tr>
    
    <tr>
        <th>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Raw(HttpUtility.HtmlDecode(sPalin))
                    @Html.Hidden("hiddenPalin", sRawPalin)
                    
                </div>
            </div>
            
        </th>
        <th>    
@if (sPalin != "")
{
     @Html.ActionLink("Save to file", "SaveFile", "Notes", new { sText = sRawPalin }, null)
}                     

        </th>
        </tr>
        </table> }

<div>
    @Html.ActionLink("Back to List", "Create")
</div>


        @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


