﻿@model BiblioHarryv1.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoteList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Palindrome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palindrome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duplicates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duplicates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
