﻿@model BiblioHarryv1.Models.Note

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Note</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.NoteID)

        <div class="form-group">
            @Html.LabelFor(model => model.NoteList, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoteList)
                @Html.ValidationMessageFor(model => model.NoteList)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Palindrome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Palindrome)
                @Html.ValidationMessageFor(model => model.Palindrome)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Duplicates, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duplicates)
                @Html.ValidationMessageFor(model => model.Duplicates)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EntryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EntryDate)
                @Html.ValidationMessageFor(model => model.EntryDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
