﻿@model IEnumerable<BiblioHarryv1.Models.Note>

@{
    ViewBag.Title = "Bibliotheca Notepad";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create List", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palindrome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duplicates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoteList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palindrome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duplicates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoteID })
        </td>
    </tr>
}

</table>
