﻿@model BiblioHarryv1.Models.Note

@{
    ViewBag.Title = "ShowDuplicates";
    var skeyword = (string)ViewBag.DupKeyword;
    var rawkey = (string)ViewBag.RawKeyword;
}

<h2>Duplicates found in keyword</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <table class="table">
    <tr>
        <th>
            <label id="palinlist">Duplicate List</label>
        </th>
        </tr>
    
    <tr>
        <th>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.Raw(HttpUtility.HtmlDecode(skeyword))
                    @Html.Hidden("rawkey", rawkey)
                    
                </div>
            </div>
            
        </th>
        <th>    
@if (skeyword != "")
{
     @Html.ActionLink("Save to file", "SaveFile", "Notes", new { sText = rawkey }, null)
}                     

        </th>
        </tr>
        </table> }

<div>
    @Html.ActionLink("Back to List", "Create")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
